<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}| {{ 'site.name'|trans }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% stylesheets filter='cssrewrite' output='compiled/main.css'
        'vendor/bootstrap/css/bootstrap.css'
        'public/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <a class="sr-only" href="#content">{{ 'screen-reader.skip-content'|trans }}</a>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    {% include "::navbar.html.twig" %}
                    {% block header_extra %}{% endblock %}
                </div>
            </div>
            <main class="row clearfix" id="content" role="main">
                <div class="col-md-12 column">
                    {% block body %}{% endblock %}
                </div>
            </main>
            <footer class="row clearfix">
                <div class="col-md-12 column">
                    <p>
                        {{ 'site.footer'|trans }}
                    </p>
                </div>
            </footer>
        </div>
        {% javascripts output='compiled/main.js'
        'vendor/jquery/jquery.1.10.2.min.js'
        'vendor/bootstrap/js/bootstrap.js'
        'public/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

