<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ 'screen-reader.toggle-nav'|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">{{ 'site.name'|trans }}</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">{{ 'site.home'|trans }}</a>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'vocabulary.mine'|trans }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">{{ 'lists.mine'|trans }}</a></li>
                        <li class="divider"></li>
                        <li><a href="#">{{ 'tests.mine'|trans }}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/profile">{{ 'account.mine'|trans }}</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
