{% extends '::base.html.twig' %}

{% block title %}{{ 'title.wordlist.edit'|trans }}{% endblock %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'title.wordlist.edit'|trans }}</h1>
    </div>

    {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.name, {'label': 'field.wordlist.name'|trans}) }}

        {{ form_row(edit_form.submit, {'attr': {'class': 'btn-primary btn-update'}}) }}

    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        {{ form_errors(delete_form) }}

        {{ form_row(delete_form.submit, {'attr': {'class': 'btn-danger btn-delete'}}) }}
    {{ form_end(delete_form) }}
{% endblock %}
