{% extends "::base.html.twig" %}
 
{% block title %}{{ 'title.wordlist.index'|trans }}{% endblock %}

{% set _format_datetime = 'format.datetime'|trans %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'title.wordlist.index'|trans }}</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'field.wordlist.name'|trans }}</th>
                <th>{{ 'field.wordlist.count'|trans }}</th>
                <th>{{ 'field.entity.createdAt'|trans }}</th>
                <th>{{ 'field.entity.updatedAt'|trans }}</th>
                <th>{{ 'field.entity.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for wl in wordlists %}
                <tr>
                    <td>
                        <a href="{{ path('imv_wordlist_show', {'id': wl.id}) }}">{{ wl.name }}</a>
                    </td>
                    <td>
                        {{ wl.count }}
                    </td>
                    <td>
                        {{ wl.createdAt|date(_format_datetime) }}
                    </td>
                    <td>
                        {{ wl.updatedAt|date(_format_datetime) }}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('imv_wordlist_show', { 'id': wl.id }) }}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    {{ 'action.entity.show'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('imv_wordlist_edit', { 'id': wl.id }) }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    {{ 'action.entity.edit'|trans }}
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'list.wordlist.empty'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imv_wordlist_new') }}">
                {{ 'action.wordlist.add'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}
