{% extends '::base.html.twig' %}

{% block title %}{{ 'title.wordlist.new'|trans }}{% endblock %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'title.wordlist.new'|trans }}</h1>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name, {'label': 'field.wordlist.name'|trans}) }}

        {{ form_row(form.submit, {'attr': {'class': 'btn-primary btn-create'}}) }}

        {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
