{% extends "::base.html.twig" %}
 
{% block title %}{{ 'title.wordlist.show'|trans({'%name%': wordlist.name}) }}{% endblock %}

{% set _format_datetime = 'format.datetime'|trans %}
 
{% block body %}
    <div class="page-header">
        <h1>{{ 'title.wordlist.show'|trans({'%name%': wordlist.name}) }}</h1>
    </div>

    <div>
        {{ wordlist.name }}
        créé le {{ wordlist.createdAt|date(_format_datetime) }}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom de la liste</th>
                <th>{{ 'field.entity.createdAt'|trans }}</th>
                <th>{{ 'field.entity.updatedAt'|trans }}</th>
                <th>{{ 'field.entity.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for w in wordlist.words %}
                <tr>
                    <td>
                        <a href="{{ path('imv_word_show', {'id': w.id}) }}">{{ w.details }}</a>
                    </td>
                    <td>
                        {{ w.createdAt|date(_format_datetime) }}
                    </td>
                    <td>
                        {{ w.updatedAt|date(_format_datetime) }}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('imv_word_show', { 'id': w.id }) }}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    {{ 'action.entity.show'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('imv_word_edit', { 'id': w.id }) }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    {{ 'action.entity.edit'|trans }}
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Currently not any word added.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
