{% extends "::base.html.twig" %}
 
{% block title %}{{ 'title.wordlist.show'|trans({'%name%': wordlist.name}) }}{% endblock %}

{% set _format_datetime = 'format.datetime'|trans %}
 
{% block body %}
    <div class="page-header">
        <h1>{{ 'title.wordlist.show'|trans({'%name%': wordlist.name}) }}</h1>
    </div>

    <div>
        {{ wordlist.name }}
        créé le {{ wordlist.createdAt|date(_format_datetime) }}


        <ul>
          {% for w in wordlist.words %}
            <li>
              {{ w.details }}
              créé le {{ w.createdAt|date(_format_datetime) }}
            </li>
          {% else %}
            <li>Currently not any word added.</li>
          {% endfor %}
        </ul>
    </div>
{% endblock %}
