{% extends '::base.html.twig' %}

{% block title %}{{ 'title.word.list'|trans }}{% endblock %}

{% set _format_datetime = 'format.datetime'|trans %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'title.word.list'|trans }}</h1>
    </div>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'field.entity.id'|trans }}</th>
                <th>{{ 'field.entity.createdAt'|trans }}</th>
                <th>{{ 'field.word.details'|trans }}</th>
                <th>{{ 'field.entity.updatedAt'|trans }}</th>
                <th>{{ 'field.entity.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('imv_word_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date(_format_datetime) }}{% endif %}</td>
                <td>{{ entity.details }}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date(_format_datetime) }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('imv_word_show', { 'id': entity.id }) }}">{{ 'action.entity.show'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('imv_word_edit', { 'id': entity.id }) }}">{{ 'action.entity.edit'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imv_word_new') }}">
                {{ 'action.word.add'|trans }}
            </a>
        </li>
    </ul>
    {% endblock %}
