{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'word.list'|trans }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'entity.field.id'|trans }}</th>
                <th>{{ 'entity.field.createdAt'|trans }}</th>
                <th>{{ 'word.field.details'|trans }}</th>
                <th>{{ 'entity.field.updatedAt'|trans }}</th>
                <th>{{ 'entity.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('word_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.details }}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('word_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('word_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('word_new') }}">
                {{ 'word.add'|trans }}
            </a>
        </li>
    </ul>
    {% endblock %}
