{% extends '::base.html.twig' %}

{% block title %}{{ 'title.word.new'|trans }}{% endblock %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'title.word.new'|trans }}</h1>
    </div>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('imv_word') }}">
            {{ 'action.entity.back-list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
