{% extends '::base.html.twig' %}

{% block title %}{{ 'title.word.new'|trans }}{% endblock %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'title.word.new'|trans }}</h1>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.details, {'label': 'field.word.details'|trans}) }}

        {{ form_rest(form) }}
    {{ form_end(form) }}

    <ul class="record_actions">
    </ul>
{% endblock %}
