{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'word.show'|trans }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'entity.field.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'entity.field.createdAt'|trans }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'word.field.details'|trans }}</th>
                <td>{{ entity.details }}</td>
            </tr>
            <tr>
                <th>{{ 'entity.field.updatedAt'|trans }}</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('word') }}">
                {{ 'action.back-list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('word_edit', { 'id': entity.id }) }}">
                {{ 'action.edit'|trans }}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
