{% extends '::base.html.twig' %}

{% block title %}{{ 'title.word.show'|trans }}{% endblock %}

{% set _format_datetime = 'format.datetime'|trans %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'title.word.show'|trans }}</h1>
    </div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'field.entity.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'field.entity.createdAt'|trans }}</th>
                <td>{{ entity.createdAt|date(_format_datetime) }}</td>
            </tr>
            <tr>
                <th>{{ 'field.word.details'|trans }}</th>
                <td>{{ entity.details }}</td>
            </tr>
            <tr>
                <th>{{ 'field.entity.updatedAt'|trans }}</th>
                <td>{{ entity.updatedAt|date(_format_datetime) }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('imv_word_edit', entity.urlParams) }}">
                {{ 'action.entity.edit'|trans }}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
