{% extends '::base.html.twig' %}

{% block title %}{{ 'title.word.show'|trans }}{% endblock %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'title.word.show'|trans }}</h1>
    </div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'field.entity.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'field.entity.createdAt'|trans }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'field.word.details'|trans }}</th>
                <td>{{ entity.details }}</td>
            </tr>
            <tr>
                <th>{{ 'field.entity.updatedAt'|trans }}</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('imv_word') }}">
                {{ 'action.entity.back-list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('imv_word_edit', { 'id': entity.id }) }}">
                {{ 'action.entity.edit'|trans }}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
