{% extends '::base.html.twig' %}

{% block title %}{{ 'title.word.show'|trans }}{% endblock %}

{% set _format_datetime = 'format.datetime'|trans %}

{% set wordlist_links %}
    {% for wl in entity.wordlists %}
        <a href="{{ path('imv_wordlist_show', wl.urlParams) }}">{{ wl.name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endset %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'title.word.show'|trans }}</h1>
    </div>

    <p>
        {% filter replace({'%text%': wordlist_links|trim})|raw %}
            {{ 'content.word.associated.wordlist'|transchoice(entity.wordlists.count) }}
        {% endfilter %}
    </p>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'field.entity.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'field.entity.createdAt'|trans }}</th>
                <td>{{ entity.createdAt|date(_format_datetime) }}</td>
            </tr>
            <tr>
                <th>{{ 'field.word.details'|trans }}</th>
                <td>{{ entity.details }}</td>
            </tr>
            <tr>
                <th>{{ 'field.entity.updatedAt'|trans }}</th>
                <td>{{ entity.updatedAt|date(_format_datetime) }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row form-group">
        <div class="col-sm-offset-2 col-sm-10 ">
            <a class="btn btn-primary btn-edit" href="{{ path('imv_word_edit', { entity.urlParams }) }}">
                {{ 'action.entity.edit'|trans }}
            </a>
        </div>
    </div>

    {{ form_start(delete_form) }}
        {{ form_errors(delete_form) }}

        {{ form_row(delete_form.submit, {'attr': {'class': 'btn-danger btn-delete'}}) }}
    {{ form_end(delete_form) }}


{% endblock %}
